<section class="advantages" id='advantages'>
    <div class="container">
        <h3 class="advantages__title tenor">
            <span class="pure">Преимущества</span><br> работы <span class="models">с нами</span>
        </h3>
        <div class="advantages__inner">
            <div class="advantages__info">
                <div class="advantages__card-outer">
                    <div class="advantages__card">
                        <div class="advantages__card-img-outer">
                            <img src="img/advantageOne.png" alt="img">
                        </div>
                        <div class="advantages__card-title tenor">
                            <span class="models">Оплачиваемая </span>стажировка
                        </div>
                        <div class="advantages__card-text">Есть возможность получать<br>выплаты уже с первой<br>смены</div>
                    </div>
                    <div class="advantages__card">
                        <div class="advantages__card-img-outer">
                            <img src="img/advantageTwo.png" alt="img">
                        </div>
                        <div class="advantages__card-title tenor">
                            Постоянное <span class="models">развитие</span>
                        </div>
                        <div class="advantages__card-text">Обучаем и постоянно<br>работаем над повышением<br>твоего дохода</div>
                    </div>
                    <div class="advantages__card">
                        <div class="advantages__card-img-outer">
                            <img src="img/adv-3.svg" alt="img">
                        </div>
                        <div class="advantages__card-title tenor">
                            <span class="models">Практика</span> языков
                        </div>
                        <div class="advantages__card-text">Твои знания инностранных<br>языков будут улучшаться<br>с каждым днём</div>
                    </div>
                    <div class="advantages__card">
                        <div class="advantages__card-img-outer">
                            <img src="img/adv-4.svg" alt="img">
                        </div>
                        <div class="advantages__card-title tenor">
                            Уникальный <span class="models">стиль</span>
                        </div>
                        <div class="advantages__card-text">Команда профессиональных стилистов и визажистов всегда в Вашем распоряжении</div>
                    </div>
                </div>
            </div>
            <div class="advantages__img-outer">
                <img src="img/adv-img.png" alt="img">
            </div>
        </div>
    </div>
</section>