<section class="banner" id='banner'>
  <div class="container">
    <div class="banner__inner">
      <div class="banner__info">
        <h1 class="banner__title">
          С <span class="pure">Pure-</span><span class="models">models</span> зарабатывают
          от 1200$ в месяц
        </h1>
        <div class="banner__subtitle">
          стань частью команды — <span class='models'>заработай на мечту</span>
        </div>
        <button class="banner__button">
          ЗАПОЛНИТЬ АНКЕТУ
        </button>
        <div class="banner__descr">
          <div class="banner__descr-item">
            <span>
              <span class='galka'>></span>10
            </span>
            лет работаем<br>
            на рынке СНГ
          </div>
          <div class="banner__descr-item">
            <span>
              <span class='galka'>></span>148
            </span>
            сотрудников<br>у нас штате
          </div>
        </div>
      </div>
      <div class="banner__video">
        <img class='banner__video-img' src="img/banner-woman.png" alt="img">
        <a class="banner__video-play" data-fancybox href='banner-video.mp4'>
        </a>
      </div>
    </div>
  </div>
</section>