<section class="change" id='change'>
    <div class="container">
        <div class="change__inner">
            <div class="change__img-outer">
                <img src="img/change-img.png" alt="img">
                <img src="img/change-img-tablet.png" alt="img">
                <img src="img/change-img-phone.png" alt="img">
            </div>
            <form class='change__form'  action="telegram.php" method='POST'>
                <div class="change__form__info">
                    <h3 class="change__title tenor">
                        <span class="pure">Измени</span> свою жизнь <span class="models">к лучшему</span>
                    </h3>
                    <div class="change__text">Нам уже не терпится познакомиться с тобой</div>
                    <label class="change__label">
                        <img src="img/phone.svg" alt="img">
                        <input type="text" class="change__input tenor" placeholder="+38 097 420 0 228" name='phoneChange'>
                    </label>
                </div>
                <button class="change__button" type="submit">ОСТАВИТЬ ЗАЯВКУ</button>
            </form>
        </div>
    </div>
</section>