<section class="conditions" id='conditions'>
  
<marquee class='banner__marquee' behavior="scroll" direction="left" scrollamount='15'>
  <span class='pure'>pure</span><span class='models'>models•</span><span class='pure'>pure</span><span class='models'>models•</span><span class='pure'>pure</span><span class='models'>models•</span><span class='pure'>pure</span><span class='models'>models•</span><span class='pure'>pure</span><span class='models'>models•</span><span class='pure'>pure</span><span class='models'>models•</span><span class='pure'>pure</span><span class='models'>models•</span><span class='pure'>pure</span><span class='models'>models•</span><span class='pure'>pure</span><span class='models'>models•</span>
</marquee>
    <div class="container">
        <div class="conditions__inner">
            <h2 class="conditions__title tenor">
                <span class="models">Наши</span> идеальные <span class="pure">условия</span>
            </h2>
            <div class="conditions__card-outer">
                <div class="conditions__text">
                    Для нас важен индивидуальный подход и особое отношение к каждой персоне.
                    На всех этапах твоей карьеры с тобой работает персональный менеджер, который постоянно тебя
                    поддерживает и во всём помогает
                </div>
                <div class="conditions__card">
                    <div class="conditions__card-img-outer">
                        <img src="img/conditions-1.svg" alt="img">
                    </div>
                    <div class="conditions__card-title tenor"><span class="models">Бесплатное</span><br>обучение</div>
                    <div class="conditions__card-text">
                        Уникальная теоретическая
                        и практическая база проверенная годами
                    </div>
                </div>
                <div class="conditions__card">
                  <div class="conditions__card-img-outer">
                      <img src="img/conditions-2.svg" alt="img">
                  </div>
                  <div class="conditions__card-title tenor">Новейшое <span class="models"><br>оборудование</span></div>
                  <div class="conditions__card-text">
                    Возможность работы
                    на 8 и более сайтах одновременно
                  </div>
                </div>
                <div class="conditions__card">
                  <div class="conditions__card-img-outer">
                      <img src="img/conditions-3.svg" alt="img">
                  </div>
                  <div class="conditions__card-title tenor"><span class="models">Своевременные</span><br>выплаты</div>
                  <div class="conditions__card-text">
                    Регулярные выплаты без задержек. Без ограничений в заработке
                  </div>
                </div>
                <div class="conditions__card">
                  <div class="conditions__card-img-outer">
                      <img src="img/conditions-4.svg" alt="img">
                  </div>
                  <div class="conditions__card-title tenor"><span class="models">Помощь </span><br>ТОП-специалистов</div>
                  <div class="conditions__card-text">
                    Тебе постоянно помогают профессиональные специалисты
                  </div>
                </div>
                <div class="conditions__card">
                  <div class="conditions__card-img-outer">
                      <img src="img/conditions-5.svg" alt="img">
                  </div>
                  <div class="conditions__card-title tenor"><span class="models">Система </span><br>безопасности</div>
                  <div class="conditions__card-text">
                    Работа только на иностранных площадках, с закрытым доступом к вашим личным данным
                  </div>
                </div>
                <div class="conditions__card">
                  <div class="conditions__card-img-outer">
                      <img src="img/conditions-6.svg" alt="img">
                  </div>
                  <div class="conditions__card-title tenor"><span class="models">Бонусы</span><br>и <span class="models">тимбилдинги</span></div>
                  <div class="conditions__card-text">
                    Лучшие сотрудники получают очень приятные вознаграждения
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>