<footer class="footer" id='footer'>
  <div class="container">
    <div class="footer__inner">
      <div class="footer__info">
        <div class="footer__logo-lider">
          <div class="footer__logo-outer">
            <img src="img/logo.svg" alt="img">
          </div>
          <div class="footer__lider">
            лидер в сфере<br>
            онлайн-коммуникаций
          </div>
        </div>
        <ul class="footer__menu">
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#lider">О НАС</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#advantages">ПОЧЕМУ МЫ?</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#understand">ВОПРОС-ОТВЕТ</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#change">ПРИСОЕДИНИТЬСЯ</a>
          </li>
        </ul>
        <button class="footer__button">ЗАКАЗАТЬ ЗВОНОК</button>
      </div>
      <div class="footer__link-outer">
        <a class="footer__link" href="#">© 2011-2021 «Puremodels», Все права защищены.</a>
        <a class="footer__link" href="#">thefrest.design</a>
        <a class="footer__link" href="#">Политика конфидиенцальности</a>
      </div>
    </div>
  </div>
</footer>