<header class="header" id='header'>
  <div class="container">
    <div class="header__inner">
      <div class="header__logo-outer">
        <img src="img/logo.svg" alt="img">
      </div>
      <nav class="header__menu-outer">
        <ul class="header__menu">
          <li class="header__menu-item">
            <a class="header__menu-link" href="#lider">О НАС</a>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-link" href="#advantages">ПОЧЕМУ МЫ?</a>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-link" href="#understand">ВОПРОС-ОТВЕТ</a>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-link" href="#change">ПРИСОЕДИНИТЬСЯ</a>
          </li>
        </ul>
      </nav>
      <button class="header__button">
        ЗАКАЗАТЬ ЗВОНОК
      </button>
    </div>
  </div>
</header>