<section class="lider" id='lider'>
    <div class="container">
        <div class="lider__inner">
            <div class="lider__img-outer">
                <img src="img/lider-img.png" alt="img">
            </div>
            <div class="lider__info">
                <div class="lider__suptitle">
                    <span class="pure">pure-</span><span class="models">models</span>
                </div>
                <h2 class="lider__title tenor">
                    <span class="pure">лидер</span> в сфере <span class="models"><br>онлайн-коммуникаций</span>
                </h2>
                <p class="lider__text">
                    Мы - компания <span class="pure">Pure-</span><span class="models">models</span> начали свою
                    деятельность в 2011 году. Мы - продюсерский центр, который создаёт звёзд различных стриминговых
                    сервисов.<br><br>

                    Главный принцип компании – <span class="models">это честность по отношениюк моделям и создание комфортных условий, чтобы девушки чувствовали себя счастливыми, работая с нами!</span><br><br>

                    <span class="white">
                        Наши модели уже в первых строчках рейтингов, вместе
                        мы лидируем и зарабатываем.</span>
                </p>
            </div>
        </div>
    </div>
</section>