<div class="modals">
    <section class="request">
        <div class="request__inner">
        <button class="request__close close"><img src="img/close.svg" alt="img"></button>
        <h4 class="request__title tenor">Оставьте заявку</h4>
        <div class="request__text">
            Оставьте свой номер телефона и мы свяжемся с Вами <span>в течение 15 минут</span>
        </div>
        <form class='request__form'  action="telegram.php" method='POST'>
            <label class="request__label">
                <img src="img/phone.svg" alt="img">
                <input type="text" class="request__input tenor" placeholder="+38 097 420 0 228" name='phoneRequest'>
            </label>
            <button class="request__button">ОТПРАВИТЬ ЗАЯВКУ</button>
        </div>
        </form>
    </section>
</div>