<section class="understand" id='understand'>
    <div class="container">
        <div class="understand__inner">
            <h3 class="understand__title tenor">
                <span class="pure">Понимаем</span>, о чем ты <br><span class="models">можешь переживать</span>
            </h3>
            <div class="understand__tab-outer">
                <div class="understand__tab-btn-outer">
                    <button class="understand__tab-btn" data-tab='#tab-1'>
                        <span>Близкие и родныe меня осудят</span>
                        <img src="img/arrow.svg" alt="arrow">
                    </button>
                    <button class="understand__tab-btn" data-tab='#tab-2'>
                        <span>Я незнаю английский и другие иностранные языки</span>
                        <img src="img/arrow.svg" alt="arrow">
                    </button>
                    <button class="understand__tab-btn" data-tab='#tab-3'>
                        <span>1200$ в месяц - это все равно не много</span>
                        <img src="img/arrow.svg" alt="arrow">
                    </button>
                    <button class="understand__tab-btn" data-tab='#tab-4'>
                        <span>А это точно не порно-идустрия?</span>
                        <img src="img/arrow.svg" alt="arrow">
                    </button>
                    <button class="understand__tab-btn" data-tab='#tab-5'>
                        <span>Что должна знать модель перед началом работы</span>
                        <img src="img/arrow.svg" alt="arrow">
                    </button>
                    <button class="understand__tab-btn" data-tab='#tab-6'>
                        <span>Подойду ли я для этой работы?</span>
                        <img src="img/arrow.svg" alt="arrow">
                    </button>
                </div>
                <div class="understand__tab-content-outer">
                    <div class="understand__tab-content" id='tab-1'>
                        <div class="understand__tab-content-title">Близкие и родныe меня осудят</div>
                        <div class="understand__tab-content-text">
                            Вы можете работать с помощью программы-переводчика и
                            совершенствовать свой английский, общаясь
                            с носителями языка в ходе ведения трансляции,
                            а так же работать с оператором.<br><br>

                            Всех наших сотрудников мы просим о своевременной простановке графика раз в неделю,
                            соблюдении дисциплины, сотрудничестве с администрацией. Категорически запрещено появляться в
                            студии в состоянии алкогольного/наркотического опьянения
                        </div>
                    </div>
                    <div class="understand__tab-content" id='tab-2'>
                        <div class="understand__tab-content-title">Я незнаю английский и другие иностранные языки</div>
                        <div class="understand__tab-content-text">
                            Вы можете работать с помощью программы-переводчика и
                            совершенствовать свой английский, общаясь
                            с носителями языка в ходе ведения трансляции,
                            а так же работать с оператором.<br><br>

                            Всех наших сотрудников мы просим о своевременной простановке графика раз в неделю,
                            соблюдении дисциплины, сотрудничестве с администрацией. Категорически запрещено появляться в
                            студии в состоянии алкогольного/наркотического опьянения
                        </div>
                    </div>
                    <div class="understand__tab-content" id='tab-3'>
                        <div class="understand__tab-content-title">1200$ в месяц - это все равно не много</div>
                        <div class="understand__tab-content-text">
                            Вы можете работать с помощью программы-переводчика и
                            совершенствовать свой английский, общаясь
                            с носителями языка в ходе ведения трансляции,
                            а так же работать с оператором.<br><br>

                            Всех наших сотрудников мы просим о своевременной простановке графика раз в неделю,
                            соблюдении дисциплины, сотрудничестве с администрацией. Категорически запрещено появляться в
                            студии в состоянии алкогольного/наркотического опьянения
                        </div>
                    </div>
                    <div class="understand__tab-content" id='tab-4'>
                        <div class="understand__tab-content-title">А это точно не порно-идустрия?</div>
                        <div class="understand__tab-content-text">
                            Вы можете работать с помощью программы-переводчика и
                            совершенствовать свой английский, общаясь
                            с носителями языка в ходе ведения трансляции,
                            а так же работать с оператором.<br><br>

                            Всех наших сотрудников мы просим о своевременной простановке графика раз в неделю,
                            соблюдении дисциплины, сотрудничестве с администрацией. Категорически запрещено появляться в
                            студии в состоянии алкогольного/наркотического опьянения
                        </div>
                    </div>
                    <div class="understand__tab-content" id='tab-5'>
                        <div class="understand__tab-content-title">Что должна знать модель перед началом работы</div>
                        <div class="understand__tab-content-text">
                            Вы можете работать с помощью программы-переводчика и
                            совершенствовать свой английский, общаясь
                            с носителями языка в ходе ведения трансляции,
                            а так же работать с оператором.<br><br>

                            Всех наших сотрудников мы просим о своевременной простановке графика раз в неделю,
                            соблюдении дисциплины, сотрудничестве с администрацией. Категорически запрещено появляться в
                            студии в состоянии алкогольного/наркотического опьянения
                        </div>
                    </div>
                    <div class="understand__tab-content" id='tab-6'>
                        <div class="understand__tab-content-title">Подойду ли я для этой работы?</div>
                        <div class="understand__tab-content-text">
                            Вы можете работать с помощью программы-переводчика и
                            совершенствовать свой английский, общаясь
                            с носителями языка в ходе ведения трансляции,
                            а так же работать с оператором.<br><br>

                            Всех наших сотрудников мы просим о своевременной простановке графика раз в неделю,
                            соблюдении дисциплины, сотрудничестве с администрацией. Категорически запрещено появляться в
                            студии в состоянии алкогольного/наркотического опьянения
                        </div>
                    </div>
                </div>
            </div>

            <ul class="understand__accordion">
                <li class="understand__accordion-item">
                    <button class="understand__accordion-btn">
                        <span>Близкие и родныe меня осудят</span>
                        <img src="img/arrow.svg" alt="arrow">
                    </button>
                    <div class="understand__accordion-content">
                        <div class="understand__accordion-content-title">Близкие и родныe меня осудят</div>
                        <div class="understand__accordion-content-text">
                            Вы можете работать с помощью программы-переводчика и
                            совершенствовать свой английский, общаясь
                            с носителями языка в ходе ведения трансляции,
                            а так же работать с оператором.<br><br>

                            Всех наших сотрудников мы просим о своевременной простановке графика раз в неделю,
                            соблюдении дисциплины, сотрудничестве с администрацией. Категорически запрещено появляться в
                            студии в состоянии алкогольного/наркотического опьянения
                        </div>
                    </div>
                </li>                    
                <li class="understand__accordion-item">
                    <button class="understand__accordion-btn">
                        <span>Я незнаю английский и другие иностранные языки</span>
                        <img src="img/arrow.svg" alt="arrow">
                    </button>
                    <div class="understand__accordion-content">
                        <div class="understand__accordion-content-title">Я незнаю английский и другие иностранные языки</div>
                        <div class="understand__accordion-content-text">
                            Вы можете работать с помощью программы-переводчика и
                            совершенствовать свой английский, общаясь
                            с носителями языка в ходе ведения трансляции,
                            а так же работать с оператором.<br><br>

                            Всех наших сотрудников мы просим о своевременной простановке графика раз в неделю,
                            соблюдении дисциплины, сотрудничестве с администрацией. Категорически запрещено появляться в
                            студии в состоянии алкогольного/наркотического опьянения
                        </div>
                    </div>
                </li>
                <li class="understand__accordion-item">
                    <button class="understand__accordion-btn">
                        <span>1200$ в месяц - это все равно не много</span>
                        <img src="img/arrow.svg" alt="arrow">
                    </button>
                    <div class="understand__accordion-content">
                        <div class="understand__accordion-content-title">1200$ в месяц - это все равно не много</div>
                        <div class="understand__accordion-content-text">
                            Вы можете работать с помощью программы-переводчика и
                            совершенствовать свой английский, общаясь
                            с носителями языка в ходе ведения трансляции,
                            а так же работать с оператором.<br><br>

                            Всех наших сотрудников мы просим о своевременной простановке графика раз в неделю,
                            соблюдении дисциплины, сотрудничестве с администрацией. Категорически запрещено появляться в
                            студии в состоянии алкогольного/наркотического опьянения
                        </div>
                    </div>
                </li>
                <li class="understand__accordion-item">
                    <button class="understand__accordion-btn">
                        <span>А это точно не порно-идустрия?</span>
                        <img src="img/arrow.svg" alt="arrow">
                    </button>
                    <div class="understand__accordion-content">
                        <div class="understand__accordion-content-title">А это точно не порно-идустрия?</div>
                        <div class="understand__accordion-content-text">
                            Вы можете работать с помощью программы-переводчика и
                            совершенствовать свой английский, общаясь
                            с носителями языка в ходе ведения трансляции,
                            а так же работать с оператором.<br><br>

                            Всех наших сотрудников мы просим о своевременной простановке графика раз в неделю,
                            соблюдении дисциплины, сотрудничестве с администрацией. Категорически запрещено появляться в
                            студии в состоянии алкогольного/наркотического опьянения
                        </div>
                    </div>
                </li>
                <li class="understand__accordion-item">
                    <button class="understand__accordion-btn">
                        <span>Что должна знать модель перед началом работы</span>
                        <img src="img/arrow.svg" alt="arrow">
                    </button>
                    <div class="understand__accordion-content">
                        <div class="understand__accordion-content-title">Что должна знать модель перед началом работы</div>
                        <div class="understand__accordion-content-text">
                            Вы можете работать с помощью программы-переводчика и
                            совершенствовать свой английский, общаясь
                            с носителями языка в ходе ведения трансляции,
                            а так же работать с оператором.<br><br>

                            Всех наших сотрудников мы просим о своевременной простановке графика раз в неделю,
                            соблюдении дисциплины, сотрудничестве с администрацией. Категорически запрещено появляться в
                            студии в состоянии алкогольного/наркотического опьянения
                        </div>
                    </div>
                </li>
                <li class="understand__accordion-item">
                    <button class="understand__accordion-btn">
                        <span>Подойду ли я для этой работы?</span>
                        <img src="img/arrow.svg" alt="arrow">
                    </button>
                    <div class="understand__accordion-content">
                        <div class="understand__accordion-content-title">Подойду ли я для этой работы?</div>
                        <div class="understand__accordion-content-text">
                            Вы можете работать с помощью программы-переводчика и
                            совершенствовать свой английский, общаясь
                            с носителями языка в ходе ведения трансляции,
                            а так же работать с оператором.<br><br>

                            Всех наших сотрудников мы просим о своевременной простановке графика раз в неделю,
                            соблюдении дисциплины, сотрудничестве с администрацией. Категорически запрещено появляться в
                            студии в состоянии алкогольного/наркотического опьянения
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>